<p id="notice"><%= notice %></p>

<p>
  <strong>Distancia:</strong>
  <%= @restaurantes_proximo.distancia %>
</p>

<p>
  <strong>Restaurante:</strong>
  <%= @restaurantes_proximo.restaurante %>
</p>

<%= link_to 'Back', restaurantes_proximos_path %>
