<p id="notice"><%= notice %></p>

<p>
  <strong>References:</strong>
  <%= @prato_montado.references %>
</p>

<%= link_to 'Edit', edit_prato_montado_path(@prato_montado) %> |
<%= link_to 'Back', prato_montados_path %>
